/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background: #010d23;
    position: relative;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
}

.navbar {
    display: flex;
    gap: 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #0ef;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #010d23;
        width: 150px;
        border-radius: 5px;
    }
    .navbar.active {
        display: flex;
    }
}